body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #000000;
    color: #00cc00;
}

header {
    display: flex;
    flex-direction: row;
    border-bottom: #00cc00 3px solid;
}

img {
    padding: 10px 50px 20px 10px;
}

h1 {
    font-size: 50px;
    padding-top: 10px;
}